@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cell:hover {
    background-color: #49493d;
  }

  .cell {
    cursor: pointer;
  }
  .cell.start {
    background-color: rgb(27, 121, 27);
    
  }

  .cell.goal {
    background-color: #db2424d5;
  }
  .cell.subpath:not(.start):not(.goal) {
    background-color: #53E2D4;
    transition: ease-in-out 300ms;

  }

  .cell.exploredpath:not(.start):not(.goal) {
    background-color: #7b506f;
    transition: ease-in-out 300ms;

  }
  .cell.blocker {
    background-color: #03191e;
  }
 
 
}
