@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cell:hover {
    background-color: #49493d;
  }

  .cell {
    cursor: pointer;
  }
  .cell.start {
    background-color: rgb(65, 236, 65);
    
  }

  .cell.goal {
    background-color: #c90303;
  }
  .cell.subpath:not(.start):not(.goal) {
    background-color: #e9db13;
    transition: ease-in-out 300ms;

  }

  .cell.exploredpath:not(.start):not(.goal) {
    background-color: #6d1a55;
    transition: ease-in-out 300ms;

  }
  .cell.blocker {
    background-color: #000000;
  }
 
 
}
